.sca-grid ion-radio {
    --color-checked: var(--dofy-color-primary-new) !important;
}

.sca-grid ion-accordion {
    margin-bottom: 10px;
}

.sca-grid {
    background-color: white;
}

.slot-orders-col {
    border: 0.5px solid var(--dofy-color-primary-new);
    border-radius: 5px;
    padding: 0;
    margin-top: 50px;
}

.slot-orders-Col {
    border-radius: 5px;
    margin-top: 50px;
}

.sca-grid ion-modal {
    --background: transparent;
    --box-shadow: unset;
}

.sa-address-choose-address {
    border-radius: 5px;
    background: #f2f5fc;
    color: var(--dofy-color-primary-new);
    font-weight: 600;
}

.sa-address-header {
    color: var(--dofy-color-primary-new);
    font-size: 15px;
    font-weight: 600;
}

.sa-add-address-card {
    padding-left: 15px;
}

.sa-add-address-card button {
    background: var(--dofy-color-primary-new);
}

.sa-address-card {
    background: white;
    border: 0.5px solid #1A4FBF;
    box-shadow: unset;
    padding: 10px;
    height: max-content;
    cursor: pointer;
}

.sa-custom-ion-item {
    --min-height: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    left: 0 !important;
    width: 100%;
    z-index: 2;
}

.sa-custom-ion-item ion-text {
    font-size: 14px;
    color: rgb(159, 161, 161);
}

.sa-custom-ion-item ion-label {
    text-overflow: unset !important;
}

.sa-address-controlls {
    color: var(--dofy-color-primary-new) !important;
    cursor: pointer;
}

.slot-padding-adjustment {
    padding: 30px 90px;
}

.slot-row {
    background-color: white;
}

.address-choose-address {
    border-radius: 10px;
    background: #f2f5fc;
    color: var(--dofy-color-primary-new);
    font-weight: 600;
    padding: 15px;
}

.address-card {
    background: white;
    border: 0.5px solid #1A4FBF;
    padding: 10px;
    height: max-content;
    cursor: pointer;
}

.address-card ion-text {
    font-size: 12px;
    font-weight: 600;
}

.address-controlls-row {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.address-controlls {
    color: var(--dofy-color-primary-new);
    font-size: 16px !important;
    text-transform: uppercase;
}

.add-address-card .address-card {
    background: #f2f5fc;
    height: 100%;
    text-align: center;
}

.add-address-card .address-card button {
    background: var(--dofy-color-primary-new);
    margin-top: 23%;
}

.address-edit {
    border: 0.5px solid #1A4FBF;
    background: white;
}

.address-edit ion-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.address-edit ion-input {
    outline: 1px solid #3333;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
}

.address-edit-btn button {
    margin-bottom: 15px;
}

.address-edit-btn button {
    margin-right: 10px;
    background: var(--dofy-color-primary-new);
}

.address-edit-btn .ad_back-btn {
    border: 1px solid var(--dofy-color-primary-new);
    background-color: #ffffff;
    color: #1A4FBF;
}

.address-edit-use-btn {
    background: var(--dofy-color-primary-new) !important;
}

/* slot */

.slot-choose-col {
    border-radius: 10px;
    background: #f2f5fc;
    color: var(--dofy-color-primary-new);
    font-weight: 600;
    padding: 15px;
}

.slot-orders-col {
    border: 0.5px solid var(--dofy-color-primary-new);
    border-radius: 5px;
    padding: 0;
}

.slot-orders-card {
    background: white;
    box-shadow: unset;
}

.slot-orders-card ion-text {
    color: var(--dofy-color-primary-new);
    font-weight: 600;
}

.slot-orders-card-inline {
    background: #f2f5fc;
    padding: 0px;
    box-shadow: unset;
    padding: 10px;
}

.slot-orders-card-inline ion-text {
    color: #425367;
}

.slot-orders-card-inline-details ion-text {
    color: #425367;
}

.slot-orders-card-inline-cost ion-label {
    color: var(--dofy-color-primary-new);
}

.slot-orders-card-inline-cost ion-text {
    color: #425367;
    /* float: right; */
    font-size: 18px;
}

.slot-orders-card-inline-card {
    padding-right: 0px;
    padding-left: 0px;
}

.slot-orders-card-inline-adjustment {
    margin-left: -40px;
    margin-top: -5px;
}

.slot-orders-card-inline-adjustment ion-text,
.slot-orders-card-inline-adjustment ion-label {
    white-space: nowrap;
}

.slot-orders-card-inline-card-0 {
    margin-left: 0px;
}

.slot-orders-card-inline-details {
    margin-top: -10px;
    background: #f2f5fc;
    box-shadow: unset;
    padding: 10px;
}

.slot-orders-card-inline-cost {
    box-shadow: unset;
    padding: 10px;
    background-color: white;
    border: 0.5px solid var(--dofy-color-primary-new);
}

.slot-details-col {
    border-radius: 10px;
    background: #f2f5fc;
    color: var(--dofy-color-primary-new);
    font-weight: 600;
    /* padding: 15px; */
}

.slot-details-card {
    box-shadow: unset;
}

.slot-details-card-inline-col ion-text {
    color: var(--dofy-color-primary-new);
    font-size: 20px;
}

.slot-date-card {
    border-radius: 5px;
    text-align: center;
    background: white;
    color: var(--dofy-color-primary-new);
    box-shadow: unset;
    cursor: pointer;
}

.slot-date-card-express {
    height: 75px;
}

.slot-date-card-selected {
    background: var(--dofy-color-primary-new) !important;
}

.slot-date-card-selected ion-text {
    color: white !important;
}

.slot-date-card ion-text {
    color: var(--dofy-color-primary-new);
    font-weight: 600;
}

.slot-date-row {
    padding: 5px;
    text-align: center;
}

.slot-date-row ion-chip {
    background: white;
    color: var(--dofy-color-primary-new);
    padding: 22px 15px;
    border-radius: 30px;
}

.slot-date-row .slot-chip-checked {
    background: var(--dofy-color-primary-new);
    color: white;
}

.slot-chip-checked .slot-switch-icon {
    background: var(--dofy-color-primary-new);
    color: white;
}

.slot-controlls button {
    background: var(--dofy-color-primary-new);
    margin-right: 10px;
}


.location-button-next,
.location-button-prev {
    margin-top: 33px;
    color: #004E73;
    font-size: 25px;
}

.express-pickup {
    margin-top: -10px;
}

.MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0.5px 4px 7.5px 5px !important;
}

.MuiOutlinedInput-root {
    height: 40px !important;
}

.address-form-cols {
    margin-top: -5px;
}

.address-form-inline {
    margin-top: 20px;
}

.slot-switch-icon {
    position: absolute;
    background: white;
    font-size: 12px;
    top: 22px;
    left: 62px;
}

.tds-device-img-ar {
    width: 40px;
    margin-right: 30px;
}

.tds-device-img {
    width: 40px;
    margin-left: 40px;
}

@media screen and (max-width: 2560px) {
    .address-form-cols {
        margin-top: -6px;
    }

    .address-form-inline {
        margin-top: 18px;
    }

    .slot-switch-icon {
        position: absolute;
        background: white;
        font-size: 12px;
        top: 0px;
        left: 70px;
    }

    .slot-date-card {
        border-radius: 5px;
        text-align: center;
        background: white;
        color: var(--dofy-color-primary-new);
        box-shadow: unset;
        cursor: pointer;
    }

}

@media screen and (max-width: 1024px) {
    .slot-padding-adjustment {
        padding: 10px 0px;
    }

    .address-form-cols {
        margin-top: -6px;
    }

    .address-form-inline {
        margin-top: 18px;
    }

    .slot-switch-icon {
        position: absolute;
        background: white;
        font-size: 12px;
        top: 0px;
        left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .slot-padding-adjustment {
        padding: 10px 0px;
    }

    .address-card-dropdown {
        margin-bottom: 20px;
    }

    .address-form-cols {
        margin-top: -6px;
    }

    .address-form-inline {
        margin-top: 15px;
    }

    .slot-switch-icon {
        position: absolute;
        background: white;
        font-size: 12px;
        top: 0px;
        left: 95px;
    }

}

@media screen and (max-width: 510px) {
    .address-card-dropdown {
        margin-bottom: 20px;
    }

    .add-address-card .address-card {
        position: unset;
    }

    .add-address-card .address-card button {
        background: var(--dofy-color-primary-new);
        margin-top: 3%;
    }

    .slot-orders-col {
        margin-top: 20px;
    }

    .address-form-cols {
        margin-top: -6px;
    }

    .address-form-inline {
        margin-top: 10px;
    }

    .slot-switch-icon {
        position: absolute;
        background: white;
        top: 0px;
        left: 40px;
    }

    .sa-margin {
        margin-top: -80px;
    }
}

@media screen and (max-width: 375px) {
    .slot-switch-icon {
        position: absolute;
        background: white;
        top: 0px;
        left: 30px;
    }

    .sa-margin {
        margin-top: -80px;
    }
}

@media screen and (max-width: 320px) {
    .address-form-cols {
        margin-top: -8px;
    }

    .address-form-inline {
        margin-top: 10px;
    }

    .slot-switch-icon {
        position: absolute;
        background: white;
        top: 0px;
        left: 20px;
    }

    .sa-margin {
        margin-top: -80px;
    }
}

@media (max-width:768px) {
    .ad-padding-adjustment {
        padding: 0px 10px !important;
    }

}

@media (max-width:1440px) and (min-width:1368px) {
    .slot-switch-icon {
        position: absolute;
        background: white;
        top: 0px;
        left: 85px;
    }
}

@media (min-width:1441px) and (max-width:1920px) {
    .slot-switch-icon {
        position: absolute;
        background: white;
        top: 0px;
        left: 100px;
    }
}