.sd-grid {
    --background: #fff !important;
    min-height: 100%;
    background: #fff;
}


.sd-header-row {
    background: #526da6 url(../../assets/images/home/selldevices.png);
    background-size: cover;
    color: white;
    padding: 30px 0px 30px 10px;
    height: 150px;
}

.sd-header-text {
    font-size: 24px;
    font-weight: 600;
    --padding-inline: unset !important;
}

.questionaire-checkbox {
    margin-left: 10px;
}

.fc-card-text {
    color: black;
    font-weight: 600;
}


.sell-devices-btn-pre {
    color: #004E73;
    border: 1px solid #ffcc4e;
}

.sell-devices-text {
    color: #004E73;
    text-transform: uppercase;
}

.sell-devices-card {
    height: 100%;
    width: 100%;
}

.sell-devices-header-row {
    background-color: white;
    padding: 10px 5px 0px 5px;
}

.sell-devices-header-text {
    color: #004E73;
    text-transform: uppercase;
}

.pc-label {
    font-size: 13px;
    color: #17171d;
    text-align: justify;
}

.pc-checkmark-icon {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
    font-size: 22px;
    color: orange;
}

.pc-checkmark-icon-hidden {
    display: none !important;
}

.pc-checkmark-icon-show {
    display: block !important;
}

/* ------------------------- */
/* device info */

.dd-devicename {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #004E73;
}

.dd-devicevarient {
    padding: 10px;
    font-weight: 700;
}

.dd-title {
    color: #004E73;
    text-transform: uppercase;
    font-size: 15px;
}

.device-summary {
    margin-top: 21px;
}

/* ---------------------------------- */

.ion-radio:hover {
    background: none;
}

.sd-summary-list-header {
    font-weight: bold;
    text-transform: uppercase;
}

.sd-summary-list-text {
    font-size: 14px;
}

.sd-summary-list-icon {
    color: red;
    padding-right: 5px;
    padding-top: 0px;
}

.final-price {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    color: green;
    margin-left: -30px;
    top: 65px;
}

.final-price-button {
    position: absolute;
    margin-left: -30px;
    top: 170px;
}

@media screen and (max-width:1024px) {
    .final-price {
        position: absolute;
        margin-left: -30px;
        top: 65px;
    }

}



/* Questionnaire check */
.question-grid .pc-slot-check {
    --border-width: none !important;
    --border-style: none !important;
    --border-color: none !important;
    --checkmark-width: 3 !important;
    --background: transparent !important;
    --size: 18px !important;
    width: 89% !important;
    height: 87% !important;
    margin-left: 10px;
    margin-top: 11px;
    position: absolute !important;
    --background-checked: none !important;
    --border-color-checked: none !important;
    --checkmark-color: none !important;
}

.pc-slot-check:hover {
    border: 1px double #ffcc4e;
}

.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
}


.question-segment {
    position: absolute;
    top: 7px;
    margin-left: 20px;
    color: #004E73;
    font-size: 12px;
    text-transform: uppercase;
}

.question-seg-index {
    position: absolute;
    line-height: 7px;
    border-radius: 50%;
    left: 10px;
    top: 7px;
    padding: 5px;
}

.question-seg-arrow {
    position: absolute;
    margin-top: 10px;
    top: -3px;
    right: -10px;
}

.err-yesno-border {
    border: 2px solid rgb(241, 73, 73);
}

@media screen and (max-width:768px) {
    .yes-no-items {
        --padding-start: 2px !important;
        --inner-padding-end: 0px !important;
    }
}

.err-yesno-border-none {
    border: none !important;
}

.err-yesno-text {
    color: rgb(241, 73, 73);
}

.err-yesno-text-show {
    display: block !important;
    text-align: start;
}

.err-yesno-text-hide {
    display: none !important;
}

.p-10 {
    padding: 10px;
}

.p-5 {
    padding: 5px !important;
}

.img-fluid {
    height: 250px;
    width: auto;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.pt-0 {
    margin-top: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.questionaire-question {
    font-weight: 500;
    font-size: 15px;
}

.questionaire-option {
    font-weight: 400;
    font-size: 12px;
}

.err-question {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.oqn-radio {
    margin-right: 5px;
}

.oqn-radio-ae {
    margin-left: 5px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-3px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(4px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-6px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(6px, 0, 0);
    }
}

.sd_devicesname {
    background-color: #F2F5FC;
    border: 1px solid #C3D0DE;
    color: #425367;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}

.sd_devicesname ion-icon {
    color: #adb4bc;
}
@media (max-width:600px){
    .sd_devicesname{
        font-size: 12px;
    }
    .sd_devicesname ion-icon{
        font-size: 15px;
    color: #adb4bc;
    }
    .questionaire-option {
        font-weight: 400;
        font-size: 13px !important;
        margin-bottom: 0px;
    }
    .sd_moblie-device{
        display: none;
    }
    .sd_margin-mob{
        margin-top: 5px;
    }
}