.sb-card-content {
    height: 60px;
}

.sb_card-design {
    background-color: #fff;
    border: 1px solid #C3D0DE;
    box-shadow: none;
}

.sb_card-design:hover {
    border: 1px solid #2250B2;
}

.sb_title-style {
    font-weight: 700;
    letter-spacing: 0px;
    color: #425367;
    opacity: 1;
    font-size: larger;
}
.sb_img{
    height: 70px;
}

.sd_devicesname {
    background-color: #F2F5FC;
    border: 1px solid #C3D0DE;
    color: #425367;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}

.sd_devicesname ion-icon {
    color: #adb4bc;
}

@media (max-width:600px) {
    .sd_devicesname {
        font-size: 12px;
    }

    .sd_devicesname ion-icon {
        font-size: 15px;
        color: #adb4bc;
    }
}

@media screen and (max-width:600px) {
    .sb_card-design {
        height: 80px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .sb_img {
        width: 55px;
    }

}

