.fp_account-end{
    font-size: small;
}

.fp_comp-size{
    text-align: left;
    
}
.fp_font-size {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding: 0px;
    color: #444851;
}

.u{
    text-decoration: underline;
}
.fp_btn-color{
    background: #2d4fb0;
    border-radius: 5px;
}
.fp_backtosignin:hover{
   color: #2d4fb0;
}

.fp_outline-style{
    outline: 1px solid #3333;
    border-radius: 5px;
    text-indent: 10px;
}
.fp_text {
    padding: 20px;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

}
.fp_text-gap{
    text-align: left;
}
.fp_btn{
    color: #C4C4C4;
}
.fp_clr-sign{
    color: blue;
}
.fp_signin-text{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #444851;
}
.fp_login-close{
    font-size: 20px;
    padding: 10px 10px;
}
.fp-close-icon{
    float: right;
}
.fp_login-back{
    font-size: 20px;
    padding: 10px 10px;

}

.ls-module{
    margin-top: -4px;
}

