.ds-header{
    background-color: #C5FFC5;
    color: #008700;
    padding:10px;
    border-radius: 3px;
}
.ds-tittle{
    font-size: 24px;
    font-weight: bold;
}
.ds-rs_styles{
    font-size: 16px;
    font-weight: bolder;
    float: right;
}