.u {
    text-decoration: underline;
}

.fp_signup {
    text-align: center;
    font-size: 12px;
}

.otp_outline-style {
    outline: 1px solid #3333;
    border-radius: 5px;
    text-indent: 10px;
}

.fp_btn-clr {
    background: #2d4fb0;
    border-radius: 5px;
}

.fp_clr-sign {
    color: blue;
}

.fp_btn {
    color: #C4C4C4;
}

.fp_comp-size {
    padding-bottom: 10px;
}

.fp_font-size {
    font-size: x-large;
}

.fp_forget {
    text-align: center;
}

.fp_text {
    font-size: small;
}

.pr-close-icon-left {
    float: left;
}

.pr-close-icon-right {
    float: right;
}

.pr_padding-adjustment {
    padding: 0px 100px;

}


@media (max-width:600px) {
    .ls_signin-text {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        color: #444851;
    }

    .ls_lable-style {
        font-family: helvetica Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #444851;
    }
}