.rp-header-row {
    background-color: var(--dofy-color-dark);
    height: 150px;
    color: white;
}

.rp-padding {
    padding: 30px 0px 30px 10px;
}

.rp-header-text {
    font-size: 28px;
    font-weight: 700;
}

.rp-row {
    background-color: white;
    margin-top: -55px;
    width: 95%;
    margin-left: 2.5%
}

.rp-text {
    text-align: justify;
}

.rp-img {
    height: 80px;
    width: 100%;
}

@media screen and (max-width:510px) {
    .rp-img {
        height: 70px;
        width: 100%;
    }
}